@use "../util/functions" as util;
@use "../global/variables" as var;
@use "../global/typography" as fonts;

@media screen and (max-width: 330px) {
    .card {
        &__logos {
            grid-template: repeat(4, auto) / repeat(1, minmax(auto, util.rem(165)));

            &-img {
                &:nth-child(1) {
                    grid-area: 1 / 1 / 2 / 2;
                }
    
                &:nth-child(2) {
                    grid-area: 2 / 1 / 3 / 2;
                }
    
                &:nth-child(3) {
                    grid-area: 3 / 1 / 4 / 2;
                }
    
                &:nth-child(4) {
                    grid-area: 4 / 1 / 5 / 2;
                }
            }
        }
    }
}