// Colors
:root {
    --white: #FFFFFF;
    --light-blue: #5A668A;
    --gray-blue: #C2CBE5;
    --dark-blue: #2C344B;
    --very-dark-blue: #121725;
    --light-green: #B3FFE2;
    --green: #54E6AF;
    --red: #FB3E3E;
}